/* --- Auth Page --- */
@import url(./auth.css);
/* --- Loading --- */
@import url(./loading.css);
/* --- Alert --- */
@import url(./alert.css);

.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  transform: translateX(-3px);
  border-radius: 50%;
}
